  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>Ember Starter Kit</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>   

    
  </div>
    <script type="text/x-handlebars">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="navbar">
            <a class="navbar-brand" href="#">Incidencias</a>
            <ul class="nav navbar-nav">
              <li class="active">
                {{#link-to 'incidencias'}}Ver Incidencias{{/link-to}}
              </li>              
            </ul>
          </div>        
        </div>

      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
           {{outlet}}
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          
        </div>
      </div>
    </div>  
   

     
    </script>
     <script type="text/x-handlebars" data-template-name="index">
      Indice
    </script>
    <!-- Incidencias Template -->
    <script type="text/x-handlebars" data-template-name="incidencias">
      
        <p>  {{#link-to 'new' tagName='button' class='btn btn-primary'}}Nueva Incidencia{{/link-to}}</p>
      
      <table class="table table-hover list-table">
        <thead>
          <tr>
            
            <th>Comunidad</th>
            <th>Descripción</th>
            <th>Fecha Entrada</th>
            <th>Origen</th>
            
            <th></th>               
          </tr>
        </thead>
        <tbody>
           {{#each}}
            {{#view "App.RowView" contentBinding="this"}}        
             <td>{{comunidad}}</td>
             <td>{{#link-to 'incidencia' this}} {{descripcion}} {{/link-to}}</td>
             <td>{{fechaentrada}}</td>
             <td>{{origen}}</td>             
             <td></td>
            {{/view}}
            {{/each}}
        </tbody>
      </table>   
    </script>    
    <!-- New Incidencia Template -->
  <script type="text/x-handlebars" data-template-name="new">   
    <form id="newForm" action="" method="POST" class="form-horizontal" role="form">
          <div class="form-group">
            <legend>Editar Incidencia</legend>
          </div>
          <div class="form-group">
            <label for="comunidad" class="col-sm-4 control-label">Comunidad:</label>
            <div class="col-sm-8">
            {{input  data-parsley-required="true"  type="text" class="form-control" id="comunidad" value=comunidad}}           
            </div>
          </div>
          <div class="form-group">
            <label for="origin" class="col-sm-4 control-label">Origen:</label>
            <div class="col-sm-8">
              {{input data-parsley-required="true"  type="text" class="form-control" id="origin" value=origen}}      
            </div>
          </div>
           <div class="form-group">
            <label for="type" class="col-sm-4 control-label">Motivo:</label>
            <div class="col-sm-8">
              {{input type="text" class="form-control" id="type" value=motivo}}
            </div>
          </div>
           <div class="form-group">
            <label for="descripcion" class="col-sm-4 control-label">Descripción:</label>
            <div class="col-sm-8">
              {{textarea value=descripcion class="form-control" rows="6" id="descripcion"}}
            </div>
          </div>
           <div class="form-group">
            <label for="resumen" class="col-sm-4 control-label">Resumen:</label>
            <div class="col-sm-8">
              {{input type="tel" class="form-control" id="resumen" value=resumen}}           
            </div>
          </div>
          <div class="form-group">
            <label for="fechaentrada" class="col-sm-4 control-label">Fecha:</label>
            <div class="col-sm-8">
              {{input data-parsley-pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$" type="text" class="form-control" id="fechaentrada" value=fechaentrada}}    
            </div>
          </div> 
          <div class="form-group">
            <label for="horaentrada" class="col-sm-4 control-label">Hora entrada:</label>
            <div class="col-sm-8">
              {{input  data-parsley-pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" type="text" class="form-control" id="horaentrada" value=horaentrada}}    
            </div>
          </div> 
          <div class="form-group">
            <label for="fecharesolucion" class="col-sm-4 control-label">Fecha de Resolución:</label>
            <div class="col-sm-8">
              {{input data-parsley-pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$" type="text" class="form-control" id="fecharesolucion" value=fecharesolucion}}    
            </div>
          </div> 
          <div class="form-group">
            <label for="realizada" class="col-sm-4 control-label">Realizada:</label>
            <div class="col-sm-8">
              {{input type="checkbox" class="form-control" id="realizada" checked=realizada}}    
            </div>
          </div> 
          <div class="form-group">
            <label for="urgencia" class="col-sm-4 control-label">urgencia:</label>
            <div class="col-sm-8">
              {{input type="text" class="form-control" id="urgencia" value=urgencia}}    
            </div>
          </div> 
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="button" class="btn btn-primary" {{action 'save'}} >Guardar</button>
            </div>
          </div>
        </form>   
    </script>

   
<script type="text/x-handlebars" data-template-name="incidencia">
      {{#unless editing}}
       <a href="#" {{action 'edit'}} class="btn btn-primary"> Editar </a>
      {{/unless}}

      {{#if editing}}
        <form id="editForm" action="" method="POST" class="form-horizontal" role="form">
          <div class="form-group">
            <legend>Editar Incidencia</legend>
          </div>
          <div class="form-group">
            <label for="comunidad" class="col-sm-4 control-label">Comunidad:</label>
            <div class="col-sm-8">
            {{input  data-parsley-required="true"  type="text" class="form-control" id="comunidad" value=comunidad}}           
            </div>
          </div>
          <div class="form-group">
            <label for="origin" class="col-sm-4 control-label">Origen:</label>
            <div class="col-sm-8">
              {{input data-parsley-required="true"  type="text" class="form-control" id="origin" value=origen}}      
            </div>
          </div>
           <div class="form-group">
            <label for="type" class="col-sm-4 control-label">Motivo:</label>
            <div class="col-sm-8">
              {{input type="text" class="form-control" id="type" value=motivo}}
            </div>
          </div>
           <div class="form-group">
            <label for="descripcion" class="col-sm-4 control-label">Descripción:</label>
            <div class="col-sm-8">
              {{textarea value=descripcion class="form-control" rows="6" id="descripcion"}}
            </div>
          </div>
           <div class="form-group">
            <label for="resumen" class="col-sm-4 control-label">Resumen:</label>
            <div class="col-sm-8">
              {{input type="tel" class="form-control" id="resumen" value=resumen}}           
            </div>
          </div>
          <div class="form-group">
            <label for="fechaentrada" class="col-sm-4 control-label">Fecha:</label>
            <div class="col-sm-8">
              {{input data-parsley-pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$" type="text" class="form-control" id="fechaentrada" value=fechaentrada}}    
            </div>
          </div> 
          <div class="form-group">
            <label for="horaentrada" class="col-sm-4 control-label">Hora entrada:</label>
            <div class="col-sm-8">
              {{input  data-parsley-pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" type="text" class="form-control" id="horaentrada" value=horaentrada}}    
            </div>
          </div> 
          <div class="form-group">
            <label for="fecharesolucion" class="col-sm-4 control-label">Fecha de Resolución:</label>
            <div class="col-sm-8">
              {{input data-parsley-pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$" type="text" class="form-control" id="fecharesolucion" value=fecharesolucion}}    
            </div>
          </div> 
          <div class="form-group">
            <label for="realizada" class="col-sm-4 control-label">Realizada:</label>
            <div class="col-sm-8">
              {{input type="checkbox" class="form-control" id="realizada" checked=realizada}}    
            </div>
          </div> 
          <div class="form-group">
            <label for="urgencia" class="col-sm-4 control-label">urgencia:</label>
            <div class="col-sm-8">
              {{input type="text" class="form-control" id="urgencia" value=urgencia}}    
            </div>
          </div> 
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="button" class="btn btn-primary" {{action 'doneEditing'}} >Editar y Guardar</button>
            </div>
          </div>
        </form>   
      {{else}}
        <h1>{{comunidad}}</h1> 
        <h2>{{origen}}</h2>
        <h3>{{resumen}}</h3>
        <p>{{descripcion}}</p>
        <p>{{fechaentrada}} Día de creación <strong>{{horaentrada}}</strong></p>    
      {{/if}}
    </script>




    <!-- Libraries Loaders -->
    <script src="js/libs/jquery-1.10.2.js"></script>
    <script src="js/libs/handlebars-1.1.2.js"></script>
    <script src="js/libs/ember-1.5.1.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/libs/parsley.js"></script>
    <script src="js/libs/moment.js"></script>
    
    <script src="js/app.js"></script>
    <!--<script src="js/models/incidencias.js"></script>-->
    <!-- to activate the test runner, add the "?test" query string parameter -->
   
  </body>
  </html>